:root {
  --grid-rows: 8;
  --grid-columns: 8;
}

body {
  display: flex;
  background-color: rgb(229, 229, 229);
}

#container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 50px);
  grid-template-columns: repeat(var(--grid-columns), 50px);
  border-style: solid;
  margin: auto;
}

.cell {
  border-color: black;
  border-style: solid;
  border-width: thin;
}
